<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>REFLECTIONS ON HOME:<br>Readers talk about where they grew up and how it shaped them.</h1>
        <p>We asked you to tell us about your hometowns — how long it's been since you moved away, how often you return and what comes to mind when you think about those places. Click on a location for more information on that hometown.</p>
      </section>

    <div class="flex-container">
      <div class=radio-block>
        <input type="radio" name="groups" id="all" checked="checked">
         <label for="all">All time away</label>
        <input type="radio" name="year" id="g1">
         <label for="g1">0-14 years</label>
        <input type="radio" name="year" id="g2">
         <label for="g2">15-29 years</label>
        <input type="radio" name="year" id="g3">
         <label for="g3">30-44 years</label>
         <input type="radio" name="year" id="g4">
         <label for="g4">45 years or more</label>
     </div>

      <div class="area1">
        <div class="aspect-ratio-outer">
          <div class="aspect-ratio-inner">
            <leaflet-map zoom=3>
              <tile-layer layer="cartoPositron"></tile-layer>
            </leaflet-map>
          </div>
          <aside class="legend">
            <h1>Years away from home</h1>
            <ul class="scale">
              <li>
                <span class="block" style="background-color: #00441b"></span> 45 years or more</li>
              <li>
                <span class="block" style="background-color: #238b45"></span> 30 - 44 years</li>
              <li>
                <span class="block" style="background-color: #74c476"></span> 15 - 29 years</li>
              <li>
                <span class="block" style="background-color: #c7e9c0"></span> 0 - 14 years</li>
            </ul>
          </aside>
      </div>
    </div>

      <div class="area2">
        <div class="pop-container">
            <div class="introtext">Select a point on the map for information about each homicide, or select the "Next" button to see them in chronological order.</div>
        </div>
      </div>
    </div>


      <div class="source">Source: Seattle Times Readers
        <span class="credit">Emily M. Eng / THE SEATTLE TIMES</div>
    </div>
  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
